docxtpl==0.20.2
inquirer==3.4.1
openpyxl==3.1.5
Pillow==12.2.0
pyutils @ git+https://github.com/iagocanalejas/pyutils.git@master
pyyaml==6.0.3
requests==2.33.1
vscripts @ git+https://github.com/iagocanalejas/vscripts.git@master
